# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
*.iml
venv/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
*.swp
*~
logs/
/tests/draft.py
