<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>4km</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css') }}"/>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .entity {
            word-break: keep-all;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div class="container-fluid p-0 h-100 d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">自然语言处理</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">言论提取</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/auto_summarizer">自动摘要</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row m-0 h-100">
        <div class="col h-100 border-right p-3">
            <div class="form-group d-flex flex-column h-100">
                <nav class="navbar navbar-light bg-light w-100">
                    <label for="input-text">请输入一段文字</label>
                    <button id="submit" class="btn btn-outline-success" type="submit">
                        &nbsp;提交
                    </button>
                </nav>
                <textarea class="form-control h-100" id="input-text"></textarea>
            </div>
        </div>
        <div class="col p-3 h-100">
            <div class="row">
                <div id="extract_table" class="col">
                    <!--
                    <table class="table table-striped table-responsive">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">人物</th>
                            <th scope="col">言论</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td class="entity">韩国⽹网友</td>
                            <td>不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然
                                不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然
                                不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然
                                不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然不不以为然</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td class="entity">雷先生</td>
                            <td>交警部门罚了他 16 次，他只认了一次，
                                交了一次罚款， 拿到法
                                院的判决书后，会前往交警队，要求撤销
                                此前的处罚。
                                交警部门罚了他 16 次，他只认了一次，
                                交了一次罚款， 拿到法
                                院的判决书后，会前往交警队，要求撤销
                                此前的处罚。
                                交警部门罚了他 16 次，他只认了一次，
                                交了一次罚款， 拿到法
                                院的判决书后，会前往交警队，要求撤销
                                此前的处罚。
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td class="entity">Larry</td>
                            <td>the Bird</td>
                        </tr>
                        </tbody>
                    </table>
                    -->
                </div>
                <div class="w-100 d-none d-md-block">
                    <hr class="my-4">
                </div>
                <div class="col">
                    <!-- 图谱 -->
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small blue  border-top">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://github.com/4keyboardman/StandpointExtract"> 4keyboardman</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{url_for('static', filename='jquery.slim.min.js') }}"></script>
<script src="{{url_for('static', filename='popper.min.js') }}"></script>
<script src="{{url_for('static', filename='bootstrap.min.js') }}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type=text/javascript>

    var txt = "网易娱乐7月21日报道  林肯公园主唱查斯特·贝宁顿Chester Bennington于今天早上，在洛杉矶 帕洛斯弗迪斯的一个私人庄园自缢身亡，年仅41岁。此消息已得到洛杉矶警方证实。\n" +
    "洛杉矶警方透露，Chester的家人正在外地度假，Chester独自在家，上吊地点是家里的二楼。一说是一名音乐公司工作人员来家里找他时发现了尸体，也有人称是佣人最早发现其死亡。\n" +
    "林肯公园另一位主唱麦克·信田确认了Chester Bennington自杀属实，并对此感到震惊和心痛，称稍后官方会发布声明。Chester昨天还在推特上转发了一条关于曼哈顿垃圾山的新闻。粉丝们纷纷在该推文下留言，不相信Chester已经走了。\n" +
    "外媒猜测，Chester选择在7月20日自杀的原因跟他极其要好的朋友、Soundgarden（声音花园）乐队以及Audioslave乐队主唱Chris Cornell有关，因为7月20日是Chris Cornell的诞辰。而Chris Cornell 于今年5月17日上吊自杀，享年52岁。Chris去世后，Chester还为他写下悼文。\n" +
    "对于Chester的自杀，亲友表示震惊但不意外，因为Chester曾经透露过想自杀的念头，他曾表示自己童年时被虐待，导致他医生无法走出阴影，也导致他长期酗酒和嗑药来疗伤。目前，洛杉矶警方仍在调查Chester的死因。\n" +
    "据悉，Chester与毒品和酒精斗争多年，年幼时期曾被成年男子性侵，导致常有轻生念头。Chester生前有过2段婚姻，育有6个孩子。\n" +
    "林肯公园在今年五月发行了新专辑《多一丝曙光One More Light》，成为他们第五张登顶Billboard排行榜的专辑。而昨晚刚刚发布新单《Talking To Myself》MV。";
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(function () {
        var input_test = $('#input-text');
        input_test.val(txt);
        var submit = $('#submit');
        submit.click(function () {
            $.post($SCRIPT_ROOT + '/auto_summarizer', {
                text: input_test.val()
            }, function (data) {
                $('#submit').html('&nbsp;提交&nbsp;');
                $('#extract_table').html(data)
            });
            spinner = '&nbsp;&nbsp;&nbsp;<div class="spinner-border spinner-border-sm" role="status">\n' +
                    '<span class="sr-only">Loading...</span>\n' +
                    '</div>&nbsp;&nbsp;&nbsp;';
            $('#submit').html(spinner);
            return false;
        });

        submit.click();
    });
</script>
</body>
</html>